<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cleartext HTTP được cho phép duy nhất ở Debug build (DEC-015) -->
    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28" />

</manifest>
